* {
    box-sizing: border-box;
}

.hideDesktop {
    display: none;
}


.hideTablet {
    display: none;
}


.contentTopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px #c4c2c2a9;
    border: #555555 1px solid;
    border-radius: 0px 0px 10px 10px;
    min-width: 290px;
    
}

.burguerMenu {
    margin: 0px 15px;
    font-size: 1.5rem;
    /* justify-content: center; */
    /* display: block; */
    /* width:auto; */
    /* height: auto; */
    /* height: 5rem;  */
    /* flex-grow: 0; */
}


.searchLeftBar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.searchLeftBar input {
    height: 2rem;
}
.logo {
    display: block;
    width:auto;
    height: auto;
    height: 5rem;
    flex-grow: 0;
    justify-content: center;
}

.items-left input {
    
    width: 90%;
}


.items-left {
    display: flex;
    /* margin: 5px; */
    list-style: none;
    flex-direction: row;
    /* justify-content: space-between; */
    /* flex-grow: 0.80; */
    
}

.items-left a {
    margin: 0px 6px;
}
.items-right {
    display: flex;
    list-style: none;
    flex-direction: row;
    /* flex-grow: 0.05; */
    padding: 0 6px;
    justify-content: flex-end;
}

.items-right a {
    margin: 0px 10px;
}


a {
    text-decoration: none;
    font-weight: 500;
    color: rgb(12, 12, 12);
    display: block;
    padding: 5px 0;
    font-size: 1rem;
  }

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
}
  
.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}
  
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 1.2rem;
    color: #818181;
    display: block;
    transition: 0.3s;
}
  
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}
  
.overlay .closebtn {
    position: absolute;
    top: 5px;
    right: 25px;
    font-size: 3rem;
}

/* drop box styles - START*/
/* li a, .dropbtn { */
l.dropbtn {
    display: inline-block;
    /* color: white; */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    /* background-color: rgb(240, 229, 229); */
    background-color: #f1f1f1;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
/* drop box styles - END  */



@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
        .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
  /* tablets */
@media (min-width: 481px){

    .hideTablet {
        display: flex;
    }
    .items-left {
        justify-content: right;
        padding: 0 5px;
        width: auto;
    }


}
  
/* laptops  */
@media (min-width: 769px){

    .hideDesktop {
        display: flex;
    }
    .burguerMenu {
        display: none;
    }
    .items-left  {
        justify-content: left;
        
    }


}



