.card {
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2);
    max-width: 200px;
    min-width: 50px;
    margin: auto;
    text-align: center;
    /* font-family: arial; */
  }
  
  .price {
    color: grey;
    font-size: 1.5rem;
    /* padding: 0px 10px; */
    margin: 0px 0px 10px 0px;
  }

  .addToCart {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 1.2rem;
  }

  .card button:hover {
    opacity: .7;
  }

  .modifyQtty {
    display: flex;
    height: 2rem;
    justify-content: center;
    align-items: center;
    
   
  }

.qtty {
    max-width: 50px;
    text-align: center;
    border: none;
}

h5, input {
    width: 50px;
    text-align: center;
    border: none;
}

  .buttonChange {
      width: 75px;
      border: none;
      background-color: lightgray;
      font-size: 1rem;
      font-weight: 800;
      border-radius: 2px;
      cursor: pointer;
  }
